.screen {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  &.screen--message {
    h2 {
      color: white;
      text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black, 4px 4px 4px black;
      font-size: 8rem;
      font-weight: 900;
    }

    button {
      color: white;
      cursor: pointer;
      text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black, 4px 4px 4px black;
      font-size: 8rem;
      font-weight: 900;
    }
  }

  &.screen--stage {
    video {
      display: none;
      height: 100%;
      left: 0;
      object-fit: fill;
      position: absolute;
      top: 0;
      width: 100%;

      &.op--visible {
        display: block;
      }
    }
  }
}
